.card-padding {
    padding: 20px 50px;
}

.section-margin {
    margin: 30px 0px;
}

.card {
    border: none;
}

.headline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.display-5 {
    font-size: xxx-large;
    font-weight: lighter;
}

.search-field {
    float: right;
}

.search-button {
    color: #007bff;
}

.link {
    color: #000000;
    font-weight: 550;
}

.link:hover {
    color: #363636;
}

.borderless {
    border: none;
}

.font-small {
    font-size: small;
}

.font-smaller {
    font-size: 1.1em;
}

mark {
    background: #007BFF;
    color: #ffffff;
    border-radius: 5px;
}